{% extends "base.html" %}

{% block content %}
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> My Tools</h3>
				<div class="row">
				
	                  <div class="col-md-12">
	                  	  <div class="content-panel">

	                  	  <a href="/tools"><button type="button" class="btn btn-theme"><i class="fa fa-cog"></i>Add Tool</button></a>
								<br /><br />

	                  	  	  <h4><i class="fa fa-angle-right"></i> View Tools</h4>
	                  	  	  <hr>
		                      <table class="table">
		                         <thead>
		                          <tr>
		                              <th>Name</th>
		                              <th>Photo</th>
		                              <th>Description</th>
		                              <th>special instruction</th>
		                              <th>Availablilty</th>
		                             <!-- <th>Pickup Preference</th> -->
		                            
		                          </tr>
		                          </thead>
		                          <tbody>
							{% for tool in tool_list %}
		                          <tr>
								<td>{{tool.1}}</td>
								<td><img src="/static/imgs/{{tool.2}}" width=150 height=150></td>
								<!--<img src ="{{MEDIA_URL}}/toolshare/media/"--> <!-- this was used by high-ro -->
								<td>{{tool.3}}</td>
								<td>{{tool.4}}</td>

								{% if tool.5%}
								<td style="color:#67bc4b;font-weight:bolder;">Available </td>

								{% else %}

								<td style="color:#ba4a4a;font-weight:bolder;"> Not Available </td>

								{% endif %}

								
								<td><a href="/edit_tools/{{tool.0}}"><button type="button" class="btn btn-theme"><i class="fa fa-cog"></i> Edit</button></a>
								<br /><br />
								
								</tr>
							{% endfor %}
		                          </tbody>
		                      </table>
	                  	  </div><!-- /content-panel -->
	                  </div><!-- /col-md-12 -->
				</div><!-- row -->
				

		</section><!-- /wrapper -->



{% endblock %}


{% block admin %}
		{% if request.session.isAdmin %}
				  <li class="sub-menu dcjq-parent-li">
                      <a href="" class="dcjq-parent">
                          <i class="fa fa-desktop"></i>
                          <span>Admin Options</span>
                      <span class="dcjq-icon"></span></a>
                      <ul class="sub" style="overflow: hidden; display: block;">
                          <li><a href="/addAdmin">Add Admin</a></li>
                          <li><a href="/manage_users">Manage Users</a></li>
						  <li><a href="/edit_shed">Edit Shed Details</a></li>
						  <li><a href="/statistics">Statistics</a></li>
                      </ul>
                  </li>
		{% endif %}
{% endblock %}