{% extends "base.html" %}

{% block content %}
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Borrowed Tools</h3>
				<div class="row">
				
	                  <div class="col-md-12">
	                  	  <div class="content-panel">
	                  	  	  <h4><i class="fa fa-angle-right"></i>Tools</h4>
	                  	  	  <hr>
		                      <table class="table">
		                         <thead>
		                          <tr>
		                              <th>Owner</th>
		                              <th>Name</th>
		                              <th>Photo</th>
		                             
		                              <th>Deadline</th>
		                              <th>PickUp Arrangements</th>
		                              <th>Email</th>
		                              <th>Address</th>
		                              <th>Action</th>
		                             <!-- <th>Pickup Preference</th> -->
		                          </tr>
		                          </thead>
		                          <tbody>
							{% for tool in tool_list %}
		                          <tr>
		                              <td>{{ tool.6 }}</td>
		                              <td>{{ tool.1 }}</td>
		                              <td><img src="/static/imgs/{{tool.2}}" width=150 height=150></td>
		                              <td>{{ tool.7 }}</td>
		                              <td>{{tool.8}}</td>
		                              <td>{{tool.9}}</td>
		                              <td>{{tool.10}}</td>
		                            
		                              <form action="" method="GET">
		                              <input type="hidden" value="{{tool.0}}" name="values">

              <td><input type="submit" class="btn btn-theme" value="Return" name="Return">
              </td>
                                 </tr>
									  

							{% endfor %}
		                          </tbody>
		                      </table>
	                  	  </div><!-- /content-panel -->
	                  </div><!-- /col-md-12 -->
				</div><!-- row -->

		</section><!-- /wrapper -->



{% endblock %}


{% block admin %}
		{% if request.session.isAdmin %}
				  <li class="sub-menu dcjq-parent-li">
                      <a href="" class="dcjq-parent">
                          <i class="fa fa-desktop"></i>
                          <span>Admin Options</span>
                      <span class="dcjq-icon"></span></a>
                      <ul class="sub" style="overflow: hidden; display: block;">
                          <li><a href="/addAdmin">Add Admin</a></li>
                          <li><a href="/manage_users">Manage Users</a></li>
						  <li><a href="/edit_shed">Edit Shed Details</a></li>
						  <li><a href="/statistics">Statistics</a></li>
                      </ul>
                  </li>
		{% endif %}
{% endblock %}